@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*{
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.blueShadow{
  box-shadow: 3px 3px 0 0 #4ade80;
  transition-duration: 200ms;
}

.blueShadow:hover {
  box-shadow: 6px 6px 0 0 #4ade80;
  transform: translate(-3px,-3px);
}